<section class="food container">
  <div class="rows">
    <div class="fifty-fifty">
      <div class="image-container">
        <img src="../img/food-left-bg.png" alt="Fruits" />
        <div class="text-overlay">
          <p class="title yellowtail white">Natural!!</p>
          <h3 class="white">Get Garden Fresh Fruits</h3>
        </div>
      </div>
    </div>
    <div class="fifty-fifty">
      <div class="image-container">
        <img src="../img/food-right-bg.png" alt="vegetable" />
        <div class="text-overlay">
          <p class="title yellowtail green">Offer!!</p>
          <h3 class="black">Get 10% off on Vegetables</h3>
        </div>
      </div>
    </div>
  </div>
</section>
