<section class="slider">
  <div class="container">
    <div class="slider__content">
      <p class="title yellowtail green">Testimonial</p>
      <h2 class="black">What Our Customer Saying?</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="items">
              <img src="../img/testimonial-01.png" alt="testem-01" />
              <br />
              <img src="../img/Star.svg" alt="testem-star" />
              <p>
                Simply dummy text of the printing and typesetting industry. Lorem Ipsum simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been.
              </p>
              <h5>Sara Taylor</h5>
              <span>Consumer</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="items">
              <img src="../img/testimonial-01.png" alt="testem-01" />
              <br />
              <img src="../img/Star.svg" alt="testem-star" />
              <p>
                Simply dummy text of the printing and typesetting industry. Lorem Ipsum simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been.
              </p>
              <h5>Sara Taylor</h5>
              <span>Consumer</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="items">
              <img src="../img/testimonial-01.png" alt="testem-01" />
              <br />
              <img src="../img/Star.svg" alt="testem-star" />
              <p>
                Simply dummy text of the printing and typesetting industry. Lorem Ipsum simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been.
              </p>
              <h5>Sara Taylor</h5>
              <span>Consumer</span>
            </div>
          </div>
          ...
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="counter-section counter-no-gap container">
    <div class="counter-section__row">
      <div class="counter-section-items text-center">
        <span class="counter-section-items__value">100 </span>
        <div class="counter-section-items__text">
          <p>Loveladies</p>
        </div>
      </div>
      <div class="counter-section-items text-center">
        <span class="counter-section-items__value">219</span>
        <div class="counter-section-items__text">
          <p>Harvey Cedars</p>
        </div>
      </div>
      <div class="counter-section-items text-center">
        <div class="values d-flex align-items-center">
          <span class="counter-section-items__value">131</span>
          <span class="counter-section-items__subvalue">+</span>
        </div>
        <div class="counter-section-items__text">
          <p>North Beach</p>
        </div>
      </div>
      <div class="counter-section-items text-center">
        <div class="values d-flex align-items-center">
          <span class="counter-section-items__value">131</span>
          <span class="counter-section-items__subvalue">+</span>
        </div>
        <div class="counter-section-items__text">
          <p>Barnegat Light</p>
        </div>
      </div>
    </div>
  </div>
</section>
